*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    padding: 10px;
    background-image: linear-gradient(180deg, rgb(252, 252, 252),purple);
}

.meiote{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px;
}

.center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-img-top{
    width: 200px;
    height: 300px;
}